<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <svg class="bi" width="1em" height="1em" fill="currentColor">
            <use xlink:href="icons/bootstrap/bootstrap-icons.svg#volume-up-fill"></use>
        </svg>
        Reality Cables
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link nav-link-home" href="./">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link nav-link-products" href="./products.html">Products</a>
            <a class="nav-link nav-link-testimonials" href="./testimonials.html">Testimonials</a>
            <a class="nav-link nav-link-news" href="./news.html">News</a>
            <a class="nav-link nav-link-faq" href="./faq.html">FAQ</a>
            <a class="nav-link nav-link-contact" href="./contact.html">Contact</a>
        </div>
    </div>
</nav>